<nav  class="navbar-span"  style="background-color: black;">
  <a  class="navbar-logo" style='color:white; text-decoration: none;' href="#"><h1 style="padding: 0; margin: 0;">MOVIES</h1></a>
  <div  class="collapse navbar-collapse"  id="navbarText">
  <div  class="filters-container">
  <div  class="nav-item">
      <button id="ui" type="button" (click)="getTopRatedMovies()">Top Rated</button>
      <p><button id="ui" type="button" (click)="getNowPlayingMovies()">Now Playing</button></p>
      <p><button id="ui" type="button" (click)="getPopularMovies()">Popular</button></p>
      
      <!-- <h1>Angular Get Selected Option Value</h1>
      <h2><span>Select a day:</span></h2>
      <select (change)="selectChangeHandler($event)">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
      </select>
      <p><span>You selected: </span><b>{{selectedDay}}</b></p> -->


    <!-- <select id=filterValue class="filter" value="filterValue" >
      <option selected disabled hidden>filter</option>
      <option id="filter1"><button id="ui" type="button" (click)="getTopRatedMovies()">Top Rated</button></option>
      <option id="filter2">Option 2</option>
      <option id="filter3">Option 3</option>
    </select> -->
  </div>
  <div  class="nav-item">
    <button id="ui" type="button" (click)="getGenreMovies()">Genre</button>
    <!-- <button id="ui" type="button" (click)="getTopRatedMovies()">Top Rated</button> -->
      
    <!-- <select id=filterValue class="filter" value="filterValue">
      <option selected disabled hidden>filter</option>
      <option id="filter1">Option 1</option>
      <option id="filter2">Option 2</option>
      <option id="filter3">Option 3</option>
    </select> -->
  </div>
  <div  class="nav-item">
    <!-- <button id="ui" type="button" (click)="getTopRatedMovies()">Top Rated</button> -->
    <!-- <button id="ui" type="button" (click)="getTopRatedMovies()">Top Rated</button> -->
    <!-- <button id="ui" type="button" (click)="getTopRatedMovies()">Top Rated</button> -->
    
      <!-- <select id=filterValue class="filter" value="filterValue">
      <option selected disabled hidden>filter</option>
      <option id="filter1">Option 1</option>
      <option id="filter2">Option 2</option>
      <option id="filter3">Option 3</option>
    <!-</select> -->
  </div>
  </div>
  </div>
  <form name="userIcons" id="userIcons">
                                                                        <!-- [(ngModel)]="searchTask" (input)='filter(searchTask)'-->
    <span *ngIf="main"><input name="search" type="text" placeholder="Search" [(ngModel)]="movieString" (change)='searchMovie()' style="height:18px;"/></span>
    <span *ngIf="!main"></span>
    <!-- <a href="{{ movie.homepage }}" target="_blank">
      Movie Homepage
    </a> -->
    <button id="ui" type="toggle" (click)="toggleSearchInput()"><i class="fa fa-search"></i></button>
    <a id="ui" routerLink="/" ><i class='fas fa-home'></i></a>

    <button id="ui" routerLink='/watch-list-page'><i class='fas fa-heart'></i></button>
    <button id="ui"><i class='fas fa-user-alt'></i></button>
  </form>
  <form *ngIf="!main"></form>
 