.navbar-span {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    padding: 3% 3%;
    box-shadow: 0 1px 0 0 rgba(247, 244, 244, 0.2), 0 6px 10px 0 rgba(247, 244, 244, 0.1);
}

.navbar-logo {
    position: relative;
    white-space: nowrap;
    /* overflow: hidden; */
    width: 28%; 
}

.filter {
    color:white;
    background-color: black;
    border: none;
    height: 24px;
}

.filters-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 400px;
    /* background-color: greenyellow; */
}

#filterbtn {
    margin: 0px 2px;
    width: 95px;
    height: 28px;
    color:white;
    border: none;
    box-shadow: 0 1px 15px 1px rgba(247, 244, 244, 0.2), 0 6px 10px 0 rgba(247, 244, 244, 0.2);
    background-color: black;
}

.toggle-filterbtn{
    width: 100px;
    height: 28px;
    color:white;
    border: none;
    box-shadow: 0 1px 15px 1px rgba(247, 244, 244, 0.2), 0 6px 10px 0 rgba(247, 244, 244, 0.1);
    background-color: black;
}

#checkbox {
    width: 100px;
    /* color:white; */
    background-color: black;
    border: 1px solid white;
    height: 24px;
    /* background-color: blueviolet;  */
}
.filterBtn_checkboxes {
    display: flex;
    flex-direction: column;
    width: 100px;
    position: absolute;
    left: 635px;
    right: 330px;
    justify-content: flex-end;
    background-color: black;
    /* border: 1px solid white; */
}

label {
    color: white;
    font-size: .83em;
}
/* .toggle-filterbtn {
    margin: auto;
} */
#userIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
    height: 26px;
    /* background-color: greenyellow; */
}

#userIcons #ui {
    background-color:black; 
    border:none;
}

i {
    color:white; 
    font-size:20px;
}
#fa-home {
    margin-top: 1px;
}

input[type=text] {
    width: 155px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    font-size: 16px;
    background-color: black;
    color: white;
    /* background-position: 10px 0px;  */
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-out-in;
    transition: width 0.4s ease-out-in;
  }
  
  input[type=text]:focus {
    /* width: 50px; */
  }
