.moviesDiv {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;

}

.movieDiv {
    display: flex;
    flex-direction: column;
    margin: 10px 25px;
    width: 388px;
    height: 593px;
    justify-content: center;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;        
    border: solid 3px rgb(204, 199, 199);
    font-size: 1.5rem;
    border-radius: 3px;        
    color: rgb(204, 199, 199);
    
}

#heartIcon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.imageDiv {
    border: solid 2px goldenrod;
    margin: 5px;
    height: 283px;
    border-radius: 3px;
}

.textDiv {
    padding-left: 15px;
}

.movieTitle {
    text-decoration: none;
    color: #eeeeee;
    font-size: 2rem;
}

.errorMsg {
    color: red;
}