<button (click)="getAllMovie()">Get Movie</button>
<div class="moviesDiv">
    <div class="movieDiv" *ngFor="let movie of list">
        <i id="heartIcon"class="material-icons">favorite_border</i>
        <div class="imageDiv">IMAGE</div>
        <div class="textDiv">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="movieTitle">{{ movie.title }}</a>
            <p class="voteAverage"><i class="material-icons">star</i>{{movie.vote_average}}</p>
        </div>
    </div>
</div>
<p class="errorMsg">{{ errorMessage }}</p>